h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  line-height: 1.2;
  margin-bottom: var(--space-sm);
}

p,
li,
span {
  margin-bottom: var(--space-sm);
}

a {
  color: var(--color-link);
  text-decoration: underline;
  transition: background-color 0.4s;
  padding: 2px 3px;
}

a:hover,
a:focus {
  background-color: var(--color-link-hover);
  outline: 2px solid var(--color-link);
  outline-offset: 2px;
}
